@import url('https://fonts.google.com/specimen/Fjalla+One?preview.text=quicksand&preview.text_type=custom');


*{
  font-family: "quicksand";
  color: #333;

}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(45,139,253);
  background: linear-gradient(0deg, rgba(45,139,253,1) 5%, rgba(248,130,93,1) 14%, rgba(255,255,255,1) 46%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}


.footer-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.footer-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.footer-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}



p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 13px;
  color: #b9b9b9;

}
.customed-checkbox__description {
  position: relative;
  padding-left: 25px;
  font-family: "Lato-Regular";
  font-size: 13px;
  line-height: 19px;
  color: #606779;
  cursor: pointer;
}



.create {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


.Vanta{
  position:  absolute;
  bottom:0 ;
  right :0 ;
  width: 100%;
  height: 100%;
  z-index:  -2;
}


.search{
  position: center;

}
.sticker{
  width: 10%;
}








::-moz-selection {
  background-color: #C3CFE2;
}

::selection {
  background-color: #C3CFE2;
}

body {
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}

.text {
  text-transform: uppercase;
  background: linear-gradient(to right, #01abe9  1%, #ea5817 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10vw;
  font-family: "Poppins", sans-serif;
}








.scrollDown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fefefe;
  border-radius: 50px;
  box-sizing: border-box;
}
.scrollDown::before {
  position: absolute;
  bottom: 30px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fefefe;
  border-radius: 100%;
  -webkit-animation: 2s infinite scrollDown;
  -moz-animation: 2s infinite scrollDown;
  animation: 2s infinite scrollDown;
  box-sizing: border-box;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}








.gradiant{

}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.flexbox-container {
  padding: 50px;
  display: flex;
  flex-direction: row;
}



